In [121]:
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer

In [138]:
corpus =  ["you were born with potential",
"you were born with goodness and trust",
# "you were born with ideals and dreams",
# "you were born with greatness",
# "you were born with wings",
# "you are not meant for crawling, so don't",
"you have wings",
"learn to use them and fly"
]

In [139]:
def tokenizer(text):
    PATTERN = r'[\s,\.\!\;\?\'\:]+'
    return re.split(PATTERN, text)

In [140]:
tf_idf_vect = TfidfVectorizer(tokenizer=tokenizer, smooth_idf=True, norm='l1')
tf_idf_text = tf_idf_vect.fit_transform(corpus)
terms = tf_idf_vect.get_feature_names()

In [141]:
df = pd.DataFrame.sparse.from_spmatrix(tf_idf_text).stack()
df = df.reset_index()
df.columns = ['idDoc', 'idTerm', 'tfidf']
df = df[df.tfidf > 0]
df['term'] = df['idTerm'].apply(lambda x: terms[x])

In [142]:
df.sort_values(['idDoc', 'tfidf'], ascending=True, inplace=True)

In [143]:
df

    idDoc  idTerm     tfidf       term
14      0      14  0.159431        you
1       0       1  0.196929       born
11      0      11  0.196929       were
13      0      13  0.196929       with
6       0       6  0.249780  potential
29      1      14  0.110203        you
15      1       0  0.136122        and
16      1       1  0.136122       born
26      1      11  0.136122       were
28      1      13  0.136122       with
18      1       3  0.172654   goodness
24      1       9  0.172654      trust
44      2      14  0.241932        you
34      2       4  0.379034       have
42      2      12  0.379034      wings
45      3       0  0.136205        and
47      3       2  0.172759        fly
50      3       5  0.172759      learn
52      3       7  0.172759       them
53      3       8  0.172759         to
55      3      10  0.172759        use

In [17]:
tokenizer("you are not meant for crawling, so don't")

['you', 'are', 'not', 'meant', 'for', 'crawling', 'so', 'don', 't']